chess==1.6.1
click==7.1.2
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
h5py==2.10.0
HeapDict==1.0.1
pyflakes==2.2.0
Werkzeug==1.0.1
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0

